---
layout: base.njk
title: "Writing"
permalink: /posts/
---
<div class="frame">
  <main class="main" id="main">
    <div class="masthead">
      <h1>Writing</h1>
    </div>

  </main>

  {% set postlist = collections.posts %}
  {% include "postlist.njk" %}

  {% include "partials/footer.njk" %}
</div>
